<main class="article" data-template="about">

	<aside class="article-intro">
		<p>“Every activity has its history and its heroes, and advances as a profession because of this knowledge.
			Graphic design will disappear as a stand-alone profession if it does not have this.”<br /> —
			<br /> Arthur Leydin (1932–&gt;2010)</p>

		<div class="article-bio">
		</div>
	</aside>

	<article class="article-text">
		<p>Re:collection was established in 2009 by Dominic Hofstede as an online archive of Australian graphic design,
			with a focus on work created between the years 1960–1990. The project was created primarily to address the
			scarcity of reference
			material available related to this most significant period for the profession. The passing of Les Mason late
			in 2009 highlighted the need for such a resource. Mason was arguably our industry’s most significant
			individual, and yet evidence
			of his work and career was virtually non-existent in the public domain. We believed, and still do, that this
			work deserves a platform by which it can inform and enrich other designers, both locally and globally. </p>
		<p>More recently, the project’s scope and emphasis have evolved to reflect the following key objectives:</p>
		<ul>
			<li>To investigate the evolution and maturation of Australia’s graphic design industry during this key
				period</li>
			<li>To document and distribute the findings in both digital and printed forms</li>
			<li>To create an ongoing resource for educational, historical and scholarly analysis for teachers,
				students, researchers and designers</li>
			<li>To raise the awareness of Australian graphic design locally and abroad</li>
			<li>To assist in developing self-awareness, and a culture of historical perspective for Australian graphic
				designers</li>
			<li>To uncover and reveal the work and careers of significant individuals from the period.</li>
		</ul>
		<h2>Content</h2>
		<p>The content on this site is intended for personal, educational and non-commercial purposes such as teaching,
			research, evaluation and commentary. Where possible, aknowledgment to the original author/publisher/artist
			is provided. We welcome
			any corrections or additions from relevant parties, and we place no claim of copyright over any of the
			content on this site, excluding our own work. If you are the original copyright owner of any content
			displayed on this site, and
			object to its use, please contact us and it will be removed.</p>
		<h2>Contributors</h2>
		<p>Dominic Hofstede began Re:collection as a personal project in 2009. In 2014 he was joined by Warren Taylor
			and Paul Mylecharane as key members of the Re:collection ‘collective’. Many others have contributed to the
			project in a myriad of
			ways, most significantly type designer <a href="http://www.matterofsorts.com">Vincent Chan</a> and Anthony,
			Matt &amp; Paul at <a href="http://www.public-office.info">Public Office</a>. Re:collection is primarily a
			self-funded exercise,
			with additional generous support provided by <a href="http://artdes.monash.edu">Monash Art Design &amp;
				Architecture [MADA].</a> Dominic Hofstede is an Adjunct Senior Research Fellow at Monash University.</p>
		<h2>Website credits</h2>
		<dl>
			<dt>Design</dt>
			<dd>Dominic Hofstede, Warren Taylor, Paul Mylecharane, Tomas Sabbatucci</dd>
			<dt>Development</dt>
			<dd><a href="http://public-office.info">public-office.info</a></dd>
			<dt>Typography</dt>
			<dd>Recollection Text &amp; Recollection Display — <a href="http://matterofsorts.com">matterofsorts.com</a>
			</dd>
			<dd>Blanco — <a href="http://fostertype.com">fostertype.com</a></dd>
		</dl>
	</article>

</main>