<main data-template="articles">

	<article class="col-6" data-filter-category="Feature">

		<a href="/articles/advertising-art-in-australia">
			<figure>
				<img class="bw" src="/thumbs/articles/advertising-art-in-australia/01_graphis90-924x1200.jpg" alt="">
			</figure>


			<ul>
				<li class="category">Feature</li>
				<li class="title">Advertising Art in Australia</li>
				<li class="item-number">F</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-category="Feature">

		<a href="/articles/aciaa-judge-s-thoughts">

			<p class="quote">The advertising profession pays dues with a regularity befitting a well-ordered society.
			</p>

			<ul>
				<li class="category">Feature</li>
				<li class="title">Judge’s Thoughts</li>
				<li class="item-number">F</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-category="Feature">

		<a href="/articles/pol">
			<figure>
				<img class="bw" src="/thumbs/articles/pol/01_pol_vol3no12-933x933.jpg" alt="">
			</figure>


			<ul>
				<li class="category">Feature</li>
				<li class="title">POL</li>
				<li class="item-number">F</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-category="Feature">

		<a href="/articles/visual-communications-br-the-new-force-in-art">
			<figure>
				<img class="bw"
					src="/thumbs/articles/visual-communications-br-the-new-force-in-art/01_reverse_visual_beat-933x933.jpg"
					alt="">
			</figure>


			<ul>
				<li class="category">Feature</li>
				<li class="title">Visual Communications –<br> the New Force in Art</li>
				<li class="item-number">F</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-category="Essay">

		<a href="/articles/towards-wit-and-visual-delight">

			<p class="quote">All design activity has an end result – to improve our world as a visually stimulating
				place to dwell in.</p>

			<ul>
				<li class="category">Essay</li>
				<li class="title">Towards Wit and Visual Delight</li>
				<li class="item-number">E</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-category="Interview">

		<a href="/articles/leeves-springham">
			<figure>
				<img class="bw" src="/thumbs/articles/leeves-springham/01_leeves_springham-933x933.jpg" alt="">
			</figure>


			<ul>
				<li class="category">Interview</li>
				<li class="title">Leeves Springham</li>
				<li class="item-number">I</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-category="Feature">

		<a href="/articles/lyndon-s-roo">
			<figure>
				<img class="bw" src="/thumbs/articles/lyndon-s-roo/01_australia-council-1280x933.jpg" alt="">
			</figure>


			<ul>
				<li class="category">Feature</li>
				<li class="title">Lyndon’s Roo</li>
				<li class="item-number">F</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-category="Retrospect">

		<a href="/articles/barrie-tucker">
			<figure>
				<img class="bw" src="/thumbs/articles/barrie-tucker/01_woods-bagot_barrie-tucker-933x933.jpg" alt="">
			</figure>


			<ul>
				<li class="category">Retrospect</li>
				<li class="title">Barrie Tucker</li>
				<li class="item-number">R</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-category="Retrospect">

		<a href="/articles/alex-stitt">
			<figure>
				<img class="bw" src="/thumbs/articles/alex-stitt/01_childrenstv_alex_stitt-933x933.jpg" alt="">
			</figure>


			<ul>
				<li class="category">Retrospect</li>
				<li class="title">Alex Stitt</li>
				<li class="item-number">R</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-category="Essay">

		<a href="/articles/australian-graphic-design-br-a-history-of-indifference">

			<p class="quote">If the yardsticks of maturity are an understanding, respect and recognition of history,
				then we are still in utero.</p>

			<ul>
				<li class="category">Essay</li>
				<li class="title">Australian Graphic Design: a History <br>of Indifference</li>
				<li class="item-number">E</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-category="Essay">

		<a href="/articles/agda-hall-of-fame">

			<p class="quote">To sort out the valid from the vapid. We should hasten to establish our commercial
				credentials. Soon.</p>

			<ul>
				<li class="category">Essay</li>
				<li class="title">Arthur Leydin: <br>AGDA Hall of Fame</li>
				<li class="item-number">E</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-category="Momentos">

		<a href="/articles/look-here">
			<figure>
				<img class="bw" src="/thumbs/articles/look-here/01_look_here-_stitt_weatherhead_2-933x933.jpg" alt="">
			</figure>


			<ul>
				<li class="category">Momentos</li>
				<li class="title">Look Here!</li>
				<li class="item-number">M</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-category="Essay">

		<a href="/articles/richard-haughton-james-australia-national-journal-and-designers-for-industry">

			<p class="quote">What Australia needed was design standards, principles and trained designers together with
				educated factory workers and consumers.</p>

			<ul>
				<li class="category">Essay</li>
				<li class="title">Australia National Journal and <br>Designers for Industry</li>
				<li class="item-number">E</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-category="Momentos">

		<a href="/articles/melbourne-artists-supplies-card-1987">
			<figure>
				<img class="bw"
					src="/thumbs/articles/melbourne-artists-supplies-card-1987/01_melbourne_artists_supplies_1980s-1247x1247.jpg"
					alt="">
			</figure>


			<ul>
				<li class="category">Momentos</li>
				<li class="title">Melbourne Artists Supplies Card</li>
				<li class="item-number">M</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-category="Essay">

		<a href="/articles/centre-justified-les-mason-and-br-the-exhibition-of-graphic-design">
			<figure>
				<img class="bw"
					src="/thumbs/articles/centre-justified-les-mason-and-br-the-exhibition-of-graphic-design/01_les_mason_portrait-1260x933.jpg"
					alt="">
			</figure>


			<ul>
				<li class="category">Essay</li>
				<li class="title">Centre Justified: <br>Les Mason and the Exhibition of Graphic Design</li>
				<li class="item-number">E</li>
			</ul>
		</a>
	</article>


	<article class="col-9" data-filter-category="Retrospect">

		<a href="/articles/retrospect-garry-emery">
			<figure>
				<img class="bw"
					src="/thumbs/articles/retrospect-garry-emery/01_2007_melbourne-grammar_garry_emery_2-1260x933.jpg"
					alt="">
			</figure>


			<ul>
				<li class="category">Retrospect</li>
				<li class="title">Garry Emery</li>
				<li class="item-number">R</li>
			</ul>
		</a>
	</article>

</main>