<main data-template="biographies">


	<article class="col-3" data-filter-name="Gordon Andrews">
		<a href="/biographies/gordon-andrews" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/gordon-andrews/01_gordon-andrews_da_1967-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Gordon Andrews</li>
				<li>1914–>2001</li>
				<li class="item-number">A</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Douglas Annand">
		<a href="/biographies/douglas-annand" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/douglas-annand/01_1970s_douglas_annand_malnic-933x933.jpg"
					alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Douglas Annand</li>
				<li>1903–>1976</li>
				<li class="item-number">A</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Richard Beck">
		<a href="/biographies/richard-beck" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/richard-beck/01_richard-beck-1280x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Richard Beck</li>
				<li>1912–>1985</li>
				<li class="item-number">B</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Michael Bryce">
		<a href="/biographies/michael-bryce" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/michael-bryce/01_michael-bryce-1280x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Michael Bryce</li>
				<li></li>
				<li class="item-number">B</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Ken Cato">
		<a href="/biographies/ken-cato" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/ken-cato/01_ken-cato-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Ken Cato</li>
				<li>1945–></li>
				<li class="item-number">C</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="Dahl Collings">
		<a href="/biographies/dahl-collings" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/dahl-collings/01_dahl_collings_1937-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Dahl Collings</li>
				<li>1909–>1988</li>
				<li class="item-number">C</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Geoffrey Collings">
		<a href="/biographies/geoffrey-collings" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/geoffrey-collings/01_geoffrey-collings-1280x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Geoffrey Collings</li>
				<li>1905–>2000</li>
				<li class="item-number">C</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="John Copeland">
		<a href="/biographies/john-copeland" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/john-copeland/01_john-copeland-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">John Copeland</li>
				<li></li>
				<li class="item-number">C</li>
			</ul>
		</a>
	</article>


	<article class="col-9" data-filter-name="Mimmo Cozzolino">
		<a href="/biographies/mimmo-cozzolino" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/mimmo-cozzolino/01_mimmo_cozzolino-1423x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Mimmo Cozzolino</li>
				<li>1949–></li>
				<li class="item-number">C</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="Geoff Digby">
		<a href="/biographies/geoff-digby" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/geoff-digby/01_geoff-digby-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Geoff Digby</li>
				<li>1926–></li>
				<li class="item-number">D</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Frank Eidlitz">
		<a href="/biographies/frank-eidlitz" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/frank-eidlitz/01_frank_eidlitz_7austdesigners-1280x933.jpg"
					alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Frank Eidlitz</li>
				<li>1923–>1997</li>
				<li class="item-number">E</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Garry Emery">
		<a href="/biographies/garry-emery" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/garry-emery/01_garry-emery-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Garry Emery</li>
				<li></li>
				<li class="item-number">E</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Donald Fish">
		<a href="/biographies/donald-fish" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/donald-fish/01_donald_fish-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Donald Fish</li>
				<li>1929–></li>
				<li class="item-number">F</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="Alison Forbes">
		<a href="/biographies/alison-forbes" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/alison-forbes/alison-forbes-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Alison Forbes</li>
				<li></li>
				<li class="item-number">F</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="Max Forbes">
		<a href="/biographies/max-forbes" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/max-forbes/01_max-forbes-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Max Forbes</li>
				<li>1923–>1990</li>
				<li class="item-number">F</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Pat Grainger">
		<a href="/biographies/pat-grainger" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/pat-grainger/pat_grainger-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Pat Grainger</li>
				<li>1930–></li>
				<li class="item-number">G</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="Heinz Grunwald">
		<a href="/biographies/heinz-grunwald" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/heinz-grunwald/01_heinz-grunwald-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Heinz Grunwald</li>
				<li></li>
				<li class="item-number">G</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="George Hamori">
		<a href="/biographies/george-hamori" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/george-hamori/hamori-1280x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">George Hamori</li>
				<li>1918–></li>
				<li class="item-number">H</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="Annette Harcus">
		<a href="/biographies/annette-harcus" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/annette-harcus/01_annette-harcus-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Annette Harcus</li>
				<li></li>
				<li class="item-number">H</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Alison Hulett">
		<a href="/biographies/alison-hulett" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/alison-hulett/a_hulett_portrait-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Alison Hulett</li>
				<li></li>
				<li class="item-number">H</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="Pieter Huveneers">
		<a href="/biographies/pieter-huveneers" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/pieter-huveneers/01_huv_portrait-480x480.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Pieter Huveneers</li>
				<li>1925–></li>
				<li class="item-number">H</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="Richard Haughton<br> ‘Jimmy’ James">
		<a href="/biographies/richard-haughton-jimmy-james" class="biography">
			<figure>
				<img class="bw"
					src="/thumbs/biographies/richard-haughton-jimmy-james/01_jimmy_haughton_james-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Richard Haughton<br> ‘Jimmy’ James</li>
				<li>1906–>1985</li>
				<li class="item-number">H</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Bill Kennard">
		<a href="/biographies/bill-kennard" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/bill-kennard/01_bill-kennard-1280x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Bill Kennard</li>
				<li>1915–>2001</li>
				<li class="item-number">K</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Ian Kidd">
		<a href="/biographies/ian-kidd" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/ian-kidd/01_ian-kidd-1280x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Ian Kidd</li>
				<li>1945–></li>
				<li class="item-number">K</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="Myriam Kin-Yee">
		<a href="/biographies/myriam-kin-yee" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/myriam-kin-yee/01_myriam_kin-yee-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Myriam Kin-Yee</li>
				<li>1950–></li>
				<li class="item-number">K</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="George Kral">
		<a href="/biographies/george-kral" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/george-kral/01_george-kral-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">George Kral</li>
				<li>1929–>1978</li>
				<li class="item-number">K</li>
			</ul>
		</a>
	</article>


	<article class="col-9" data-filter-name="David Lancashire">
		<a href="/biographies/david-lancashire" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/david-lancashire/01_david_lancashire-1280x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">David Lancashire</li>
				<li>1946–></li>
				<li class="item-number">L</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Marita Leuver">
		<a href="/biographies/marita-leuver" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/marita-leuver/01_marita_leuver_earlcarter-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Marita Leuver</li>
				<li></li>
				<li class="item-number">L</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Arthur Leydin">
		<a href="/biographies/arthur-leydin" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/arthur-leydin/01_arthurleydin_portrait_c1990-933x933.jpg"
					alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Arthur Leydin</li>
				<li>1932–>2010</li>
				<li class="item-number">L</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Vane Lindesay">
		<a href="/biographies/vane-lindesay" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/vane-lindesay/01_vane_lindesay-f_reiss_crop-933x933.jpg"
					alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Vane Lindesay</li>
				<li>1920–</li>
				<li class="item-number">L</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="Eric Maguire">
		<a href="/biographies/eric-maguire" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/eric-maguire/01_eric-maguire-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Eric Maguire</li>
				<li>1923–>2013</li>
				<li class="item-number">M</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Les Mason">
		<a href="/biographies/les-mason" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/les-mason/01_les_mason-1280x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Les Mason</li>
				<li>1924–>2009</li>
				<li class="item-number">M</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Hal Missingham">
		<a href="/biographies/hal-missingham" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/hal-missingham/01_hal-missingham_cropped-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Hal Missingham</li>
				<li>1906–>1994</li>
				<li class="item-number">M</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="Alistair Morrison">
		<a href="/biographies/alistair-morrison" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/alistair-morrison/01_alistair-morrison-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Alistair Morrison</li>
				<li>1911–>1998</li>
				<li class="item-number">M</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="John Nowland">
		<a href="/biographies/john-nowland" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/john-nowland/john-nowland-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">John Nowland</li>
				<li></li>
				<li class="item-number">N</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Ross Renwick">
		<a href="/biographies/ross-renwick" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/ross-renwick/01_ross-renwick_1958-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Ross Renwick</li>
				<li>1934–>2012</li>
				<li class="item-number">R</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Max Robinson">
		<a href="/biographies/max-robinson" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/max-robinson/01_max_robinson-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Max Robinson</li>
				<li>1934–></li>
				<li class="item-number">R</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Brian Sadgrove">
		<a href="/biographies/brian-sadgrove" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/brian-sadgrove/01_brian-sadgrove-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Brian Sadgrove</li>
				<li>1938–></li>
				<li class="item-number">S</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Andy Schmid">
		<a href="/biographies/andy-schmid" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/andy-schmid/01_andy-schmid-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Andy Schmid</li>
				<li></li>
				<li class="item-number">S</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="Gert Sellheim">
		<a href="/biographies/gert-sellheim" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/gert-sellheim/gert-sellheim-500x500-500x500.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Gert Sellheim</li>
				<li>1901–>1970</li>
				<li class="item-number">S</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="John Spatchurst">
		<a href="/biographies/john-spatchurst" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/john-spatchurst/01_john-spatchurst-1280x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">John Spatchurst</li>
				<li>1938–></li>
				<li class="item-number">S</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="Lance Stirling">
		<a href="/biographies/lance-stirling" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/lance-stirling/01_lance-stirling-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Lance Stirling</li>
				<li></li>
				<li class="item-number">S</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Alex Stitt">
		<a href="/biographies/alex-stitt" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/alex-stitt/01_saul-bass_alex-stitt-1280x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Alex Stitt</li>
				<li>1937–>2016</li>
				<li class="item-number">S</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Barrie Tucker">
		<a href="/biographies/barrie-tucker" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/barrie-tucker/01_barrie-tucker-1280x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Barrie Tucker</li>
				<li>1937–></li>
				<li class="item-number">T</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="Neil Turner">
		<a href="/biographies/neil-turner" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/neil-turner/neil-turner-1280x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Neil Turner</li>
				<li></li>
				<li class="item-number">T</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="Guus van der Heyde">
		<a href="/biographies/guus-van-der-heyde" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/guus-van-der-heyde/guus-van-der-heyde-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Guus van der Heyde</li>
				<li></li>
				<li class="item-number">v</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Lynda Warner">
		<a href="/biographies/lynda-warner" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/lynda-warner/lynda-warner_c1989_cropped-500x500.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Lynda Warner</li>
				<li>1953</li>
				<li class="item-number">W</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="Dianna Wells">
		<a href="/biographies/dianna-wells" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/dianna-wells/01_dianna_wells-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Dianna Wells</li>
				<li>1961–></li>
				<li class="item-number">W</li>
			</ul>
		</a>
	</article>


	<article class="col-3" data-filter-name="Lyndon Whaite">
		<a href="/biographies/lyndon-whaite" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/lyndon-whaite/01_lyndon-whaite-933x933.jpg" alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Lyndon Whaite</li>
				<li></li>
				<li class="item-number">W</li>
			</ul>
		</a>
	</article>


	<article class="col-6" data-filter-name="Harry Williamson">
		<a href="/biographies/harry-wiiliamson" class="biography">
			<figure>
				<img class="bw" src="/thumbs/biographies/harry-wiiliamson/01_harry_williamson_david_moore-933x933.jpg"
					alt="">
			</figure>



			<ul>
				<li>Biographies</li>
				<li class="biographies">Harry Williamson</li>
				<li>1940–></li>
				<li class="item-number">W</li>
			</ul>
		</a>
	</article>


</main>