<main data-template="collections" role="main">

	<article class="4">
		<a href="/collections/epicurean-magazine">
			<section class="details">
				<h1>C1</h1>
				<h2>Epicurean Magazine</h2>
				<span class="years">1966–>79</span>
			</section>

			<section class="image">
				<figure>
					<img src="/content/4-collections/1-epicurean-magazine/cover.jpg">
				</figure>
			</section>
		</a>
	</article>


	<article class="col-4">
		<a href="/collections/world-record-club">
			<section class="details">
				<h1>C2</h1>
				<h2>World Record Club</h2>
				<span class="years">1959–>76</span>
			</section>

			<section class="image">
				<figure>
					<img src="/content/4-collections/2-world-record-club/wrc-hero2.jpg">
				</figure>
			</section>
		</a>
	</article>


	<article class="">
		<a href="/collections/melbourne-film-festival">
			<section class="details">
				<h1>C3</h1>
				<h2>Melbourne Film Festival</h2>
				<span class="years">1952–>1989</span>
			</section>

			<section class="image">
				<figure>
					<img src="/content/4-collections/3-melbourne-film-festival/miff_hero2.jpg">
				</figure>
			</section>
		</a>
	</article>


	<article class="">
		<a href="/collections/sun-books">
			<section class="details">
				<h1>C4</h1>
				<h2>Sun Books</h2>
				<span class="years">1965–>1980</span>
			</section>

			<section class="image">
				<figure>
					<img src="/content/4-collections/4-sun-books/sun-hero.jpg">
				</figure>
			</section>
		</a>
	</article>


	<article class="">
		<a href="/collections/oz-magazine">
			<section class="details">
				<h1>C5</h1>
				<h2>Oz Magazine</h2>
				<span class="years">1963–>1973</span>
			</section>

			<section class="image">
				<figure>
					<img src="/content/4-collections/5-oz-magazine/oz_hero.jpg">
				</figure>
			</section>
		</a>
	</article>


	<article class="">
		<a href="/collections/stamps">
			<section class="details">
				<h1>C6</h1>
				<h2>Stamps</h2>
				<span class="years">1966–>1988</span>
			</section>

			<section class="image">
				<figure>
					<img src="/content/4-collections/6-stamps/stamp_hero.jpg">
				</figure>
			</section>
		</a>
	</article>

</main>