<footer>
	<div class="footer-wrap">
		<div class="icon">
			<!-- {% include utils/foot_logo.html %} -->
		</div>
		<p>VA:Journal is a design archive blog, featuring through a personal and accurate research the best branding and graphic design projects from all over the world, with a focus on work created between c.2019—&gt;c.{{ 'now' | date: '%Y' }}.
			<a href="mailto:&#x69;&#110;&#x66;&#111;&#x40;&#x72;&#101;&#99;&#111;&#x6c;&#x6c;&#101;&#x63;&#116;&#x69;&#111;&#x6e;&#x2e;&#x63;&#x6f;&#109;&#x2e;&#97;&#x75;">Getin touch</a> with your suggestions comments and questions, and follow us on <a href="https://www.instagram.com/recollection_au/">Instagram</a>.
		</p>
		{% include moudle/subscribe.html %}
	</div>
</footer>