<script type="text/javascript">
	window.kirby = {
		home: '{{ site.url }}'
	}
</script>
<script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript" src="{{ '/assets/js/vendor/modernizr.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/vendor/jquery-3.1.1.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/vendor/flickity.pkgd.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/libs/jquery.lazy/1.7.4/jquery.lazy.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/libs/jquery.lazy/1.7.4/jquery.lazy.plugins.min.js' | relative_url }}">
</script>
<script type="text/javascript" src="{{ '/assets/js/vendor.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/main.js?v=2' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/cart.js?v=3' | relative_url }}"></script>