<script>
	window.kirby = {
		home: '{{ site.url }}'
	}
</script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="{{ '/assets/js/vendor/modernizr.js' | relative_url }}"></script>
<script src="{{ '/assets/js/vendor/jquery-3.1.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/vendor/flickity.pkgd.min.js' | relative_url }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.4/jquery.lazy.min.js"></script>
<script type="text/javascript"
	src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.4/jquery.lazy.plugins.min.js"></script>
<script src="{{ '/assets/js/vendor.js?v=3' | relative_url }}"></script>
<script src="{{ '/assets/js/main.js?v=3' | relative_url }}"></script>
<script src="{{ '/assets/js/cart.js?v=5' | relative_url }}"></script>