<div class="cart-pane">
	<div class="cart">
		<a href="#" style="position: absolute; top: 0.5rem; right: 0; padding: 0 2rem; font-size: 3.2rem;"
			onclick="document.body.classList.remove('cart-open');return false;">&times;</a>
		<table class="cart">
			<tbody class="type-cart"></tbody>
			<tbody class="book-cart"></tbody>
			<tfoot>
				<tr class="cart-shipping">
					<td>Shipping</td>
					<td colspan="2">
						<select class="shipping-type">
							<option value="" selected>Australia</option>
							<option value="">International</option>
						</select>
						<br> $
						<span class="shipping-cost"></span>
					</td>
				</tr>
				<tr>
					<td>
						Total
						<br>
						<br>
						<br>
					</td>
					<td class="cart-total" colspan="2">$0</td>
				</tr>
				<tr>
					<td></td>
					<td colspan="2">
						<a href="#" class="button button--checkout">Checkout&nbsp;&nbsp;&rarr;</a>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
<a href="#" class="cart-pane__close" onclick="document.body.classList.remove('cart-open');return false;"></a>