<div class="menu">
	<div class="menu-inner">
		<nav>
			{% include utils/search.html %}
			<a href="{{ '/articles' | prepend: site.url }}">Articles<sup>(16)</sup></a>
			<a href="{{ '/biographies' | prepend: site.url }}">Biographies<sup>(50)</sup></a>
			<a href="{{ '/archives' | prepend: site.url }}">Archives<sup>(198)</sup></a>
			<a href="{{ '/collections' | prepend:site.url }}">Collections<sup>(6)</sup></a>
			<a href="{{ '/about' | prepend: site.url }}">About</a>
			<a href="{{ '/products' | prepend: site.url }}">Products<sup>(1)</sup></a>
		</nav>
	</div>
</div>
<div class="menu-fixer">
	<h1>
		<a href="/">VA:</a>
	</h1>
	<nav>
		<a href="#" class="cart-update--amount"></a>
		<!-- <a href="#" class="trigger">Menu</a> -->
		<span class="trigger">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.3 37.3"
				style="enable-background:new 0 0 43.3 37.3;" xml:space="preserve">
				<rect y="36.3" width="43.3" height="1" />
				<rect width="43.3" height="1" />
				<rect y="18.2" width="43.3" height="1" />
			</svg>
		</span>
	</nav>
</div>