---
layout: default
---
<main data-template="product" role="main">
	<div class="images">
		{% assign pr_source = page.slug | append: '/' | prepend: '/thumbs/products/' %}
		{% assign cdn_pr = site.blog.cdn_url | append: pr_source %}
		{% for image in page.images %}
		<figure>
			<img src="{{ image.img | prepend: cdn_pr }}" alt="{{ image.alt }}">
		</figure>
		{%- capture total_img -%}
		{{ total_img | plus: 1 }}
		{%- endcapture -%}
		{% endfor %}

		<div class="price-details">
			<span class="price">
				${{ page.price.usd }}<sup>(USD)</sup> inc. GST
			</span>
			<span class="fig-nos">
				<span class="fig-nos-update">1</span> of <span class="fig-nos-num">{{ total_img }}</span>
			</span>
		</div>
	</div>
	<div class="text">
		<div class="text-desc">
			<p>{{ content }}</p> 
			<a href="#" class="button button--buy" 
				data-type="book" data-price="{{ page.price.usd }}" 
				data-title="{{ page.product_title | strip_html | capitalize_all }}"
			data-id="{{ page.pay_mid }}">Buy Now!</a>
		</div>
		<div class="text-notes">
			<ul>
				{% for prinfo in page.ISBN %}
				<li>{{ prinfo.title}}&nbsp;{{ prinfo.info }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</main>