---
layout: default
---
<main data-template="product" role="main">
	<div class="images">
		<figure>
			<img src="https://recollection.com.au/content/6-products/1-paperback-pioneers/01_sunbooks.jpg" alt="">
		</figure>
		<figure>
			<img src="https://recollection.com.au/content/6-products/1-paperback-pioneers/02_sunbooks.jpg" alt="">
		</figure>
		<figure>
			<img src="https://recollection.com.au/content/6-products/1-paperback-pioneers/03_sunbooks.jpg" alt="">
		</figure>
		<figure>
			<img src="https://recollection.com.au/content/6-products/1-paperback-pioneers/04_sunbooks.jpg" alt="">
		</figure>
		<figure>
			<img src="https://recollection.com.au/content/6-products/1-paperback-pioneers/05_sunbooks.jpg" alt="">
		</figure>
		<figure>
			<img src="https://recollection.com.au/content/6-products/1-paperback-pioneers/06_sunbooks.jpg" alt="">
		</figure>
		<figure>
			<img src="https://recollection.com.au/content/6-products/1-paperback-pioneers/07_sunbooks.jpg" alt="">
		</figure>
		<figure>
			<img src="https://recollection.com.au/content/6-products/1-paperback-pioneers/08_sunbooks.jpg" alt="">
		</figure>
		<figure>
			<img src="https://recollection.com.au/content/6-products/1-paperback-pioneers/09_sunbooks.jpg" alt="">
		</figure>
		<figure>
			<img src="https://recollection.com.au/content/6-products/1-paperback-pioneers/10_sunbooks.jpg" alt="">
		</figure>
		<figure>
			<img src="https://recollection.com.au/content/6-products/1-paperback-pioneers/11_sunbooks.jpg" alt="">
		</figure>
		<figure>
			<img src="https://recollection.com.au/content/6-products/1-paperback-pioneers/12_sunbooks.jpg" alt="">
		</figure>
		<figure>
			<img src="https://recollection.com.au/content/6-products/1-paperback-pioneers/13_sunbooks.jpg" alt="">
		</figure>

		<div class="price-details">
			<span class="price">
				$40<sup>(AUD)</sup> inc. GST
			</span>
			<span class="fig-nos">
				<span class="fig-nos-update">1</span> of <span class="fig-nos-num">13</span>
			</span>
		</div>
	</div>
	<div class="text">
		<div class="text-desc">
			<p>Sun Books was an Australian paperback publisher formed in 1965 by Geoffrey Dutton, Brian Stonier and Max
				Harris. Brian Sadgrove, who would become a leading figure in Australian graphic design, was commissioned
				to create Sun Books’
				distinctive identity and many of the publisher’s covers during the 1960s and 1970s. This book includes
				an introduction by Warren Taylor and an essay by Dominic Hofstede, as well as more than 80 covers
				designed by Sadgrove and other
				significant practitioners including Ken Cato, Robert Rosetzky and Guy Mirabella.</p> 
				<a href="#" class="button button--buy" 
					data-type="book" data-price="40" 
					data-title="Paperback Pioneers:"
				data-id="cHJvZHVjdHMvcGFwZXJiYWNrLXBpb25lZXJz">Buy Now!</a>
		</div>
		<div class="text-notes">
			<ul>
				<li>Softcover, 112 pages, 270mm × 195mm</li>
				<li>Published by Re:collection </li>
				<li>ISBN: 978-0-646-96905-3</li>
				<li>Design: Dominic Hofstede</li>
				<li>Typeset in Recollection Text, Recollection Subhead and Recollection Display by Vincent Chan, <a
						href="http://www.matterofsorts.com">Matter of Sorts</a></li>
				<li>Print: Bambra Press, Melbourne, Australia. </li>
				<li>Edition: 500.</li>
			</ul>
		</div>
	</div>
</main>